@model HemNet.Models.Contact

<h1>Thank you</h1>
<p>Thanks <strong>@Model.Name</strong>  for subscribing!</p>
<p>We'll send a newsletter to your address <strong>@Model.Email</strong>  every month.</p>